/* CARD */
.simple-card {
  width: 360px;
  padding: 20px;
  border-radius: 20px;
  background: #f9fafb;
  box-shadow: 0 8px 20px rgba(0,0,0,0.05);
  cursor: pointer;
}

/* HEADER */
.card-header {
  text-align: center;
  margin-bottom: 20px;
}

.pg-badge {
  width: 40px;
  height: 40px;
  background: #dc2626;
  color: #fff;
  border-radius: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  margin-bottom: 6px;
}

.sub {
  display: block;
  font-size: 10px;
  letter-spacing: 2px;
  color: #9ca3af;
}

.card-header h2 {
  margin-top: 6px;
  font-size: 22px;
  font-weight: 700;
}

/* BOX */
.card-box {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

/* ROW */
.row {
  background: #f3f4f6;
  border-radius: 14px;
  padding: 12px 14px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* LEFT */
.left {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* ICON */
.icon {
  width: 34px;
  height: 34px;
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* COLORS */
.icon.red {
  background: #fee2e2;
  color: #ef4444;
}

.icon.orange {
  background: #ffedd5;
  color: #f97316;
}

.icon.gray {
  background: #e5e7eb;
  color: #6b7280;
}

/* RIGHT TEXT */
.right {
  font-weight: 600;
}

.red-text {
  color: #dc2626;
}